.jumbotron{
	color:#ffaa80;
	background-color:#ecffe6;
	font-family: Copperplate Gothic Light, sans-serif;
}

*{
	color:#ffaa80;
	background-color:#ecffe6;
	font-family: Copperplate Gothic Light, sans-serif;
}

.col-sm-6{
	align:center;
}

